selenium
webdriver-manager
beautifulsoup4
PyQt6
ollama
python-docx
pandas
matplotlib
seaborn
lxml
requests
urllib3
curl-cffi
transformers
torch
wordcloud
scikit-learn
nltk
undetected-chromedriver
google-generativeai
python-dotenv